.ctv-panelmenu .ctv-panelmenu-header > a {
  padding: 0.5rem 0.75rem;
  border: 0 none;
  color: var(--text);
  border-radius: 0.375rem;
  transition: box-shadow 0.2s;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ctv-panelmenu .ctv-panelmenu-header > a:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}

.ctv-panelmenu .ctv-panelmenu-header .ctv-panelmenu-toggle {
  margin-left: auto;
}

.ctv-panelmenu
  .ctv-panelmenu-header:not(.ctv-highlight):not(.ctv-disabled)
  > a:hover {
  background: var(--gray-100);
  border-color: transparent;
  color: var(--gray-900);
}

.ctv-panelmenu .ctv-panelmenu-header.ctv-highlight {
  margin-bottom: 0;
}

.ctv-panelmenu .ctv-panelmenu-header.ctv-highlight > a {
  color: var(--primary-700);
  background: var(--primary-100);
}

.ctv-panelmenu .ctv-panelmenu-header .ctv-panelmenu-header-icon {
  color: var(--gray-500);
}

.ctv-panelmenu .ctv-panelmenu-header.ctv-highlight .ctv-panelmenu-header-icon {
  color: var(--primary-500);
}

.ctv-panelmenu .ctv-panelmenu-header-link {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.ctv-panelmenu .ctv-panelmenu-header-link:focus {
  z-index: 1;
}

.ctv-panelmenu .ctv-submenu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ctv-panelmenu
  .ctv-panelmenu-content
  .ctv-panelmenu-list:not(.ctv-panelmenu-root-submenu) {
  padding: 0 0 0 1rem;
}

.ctv-panelmenu .ctv-panelmenu-content .ctv-menuitem .ctv-menuitem-link {
  display: block;
  padding: 0.5rem 0.75rem;
  color: var(--gray-900);
  border-radius: 0.375rem;
  transition: box-shadow 0.2s;
  text-decoration: none;
  user-select: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.ctv-panelmenu
  .ctv-panelmenu-content
  .ctv-menuitem
  .ctv-menuitem-link
  .ctv-menuitem-text {
  color: #495057;
}

.ctv-panelmenu
  .ctv-panelmenu-content
  .ctv-menuitem
  .ctv-menuitem-link:not(.ctv-disabled):hover {
  background: var(--gray-100);
}

.ctv-panelmenu
  .ctv-panelmenu-content
  .ctv-menuitem
  .ctv-menuitem-link:not(.ctv-disabled):hover
  .ctv.menuitem-text {
  color: var(--gray-900);
}

.ctv-panelmenu .ctv-panelmenu-content .ctv-menuitem .ctv-menuitem-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: inset 0 0 0 0.15rem #c7d2fe;
}

.ctv-panelmenu .ctv-panelmenu-content .ctv-menuitem .ctv-menuitem-link-active {
  background: var(--primary-100);
}

.ctv-panelmenu
  .ctv-panelmenu-content
  .ctv-menuitem
  .ctv-menuitem-link-active
  .ctv-menuitem-text {
  color: var(--primary-700);
}

.ctv-panelmenu .ctv-menuitem-text {
  line-height: 1;
}

.ctv-panelmenu .ctv-panelmenu-content {
  padding: 0.5rem 0;
  border: 0 none;
  background: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 0;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.ctv-panelmenu .ctv-menuitem-without-icon {
  width: 24px;
  height: 24px;
  display: block;
}

.ctv-panelmenu-expanded.ctv-toggleable-content:not(.ng-animation),
.ctv-panelmenu .ctv-submenu-expanded:not(.ng-animation) {
  overflow: visible;
}

.ctv-panelmenu .ctv-toggleable-content,
.ctv-panelmenu .ctv-submenu-list {
  overflow: hidden;
}

.ctv-panelmenu .ctv-menuitem-badge {
  background: #6366f1;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 700;
  min-width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 6px;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
