.ctv-button {
  padding: 0.625rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;

  &:disabled {
    cursor: initial;
  }
}

.ctv-button:focus {
  outline: 0 none;
  outline-offset: 0;
}

.ctv-button-primary.ctv-button-variant-default {
  color: var(--white);
  background: var(--primary-600);
  border: 1px solid var(--primary-600);

  &:hover {
    background: var(--primary-700);
    border: 1px solid var(--primary-700);
  }

  &:disabled {
    background: var(--primary-200);
    border: 1px solid var(--primary-200);
  }
}

.ctv-button-primary:focus {
  box-shadow: 0 0 0 0.2rem var(--primary-200);
}

.ctv-button-secondary.ctv-button-variant-default {
  color: var(--gray-700);
  background: var(--white);
  border: 1px solid var(--gray-300);

  &:hover {
    background: var(--gray-100);
  }

  &:disabled {
    border: 1px solid var(--gray-200);
    background: var(--white);
    color: var(--gray-200);
  }
}

.ctv-button-secondary:focus {
  box-shadow: 0 0 0 0.2rem var(--gray-200);
}

.ctv-button-secondary.ctv-button-variant-text {
  color: var(--gray-600);
  background: var(--white);

  &:hover {
    background: var(--gray-100);
  }

  &:disabled {
    background: var(--gray-200);
    color: var(--gray-100);
  }
}

.ctv-button-danger.ctv-button-variant-default {
  color: var(--white);
  background: var(--error-600);
  border: 1px solid var(--error-600);

  &:hover {
    background: var(--error-700);
    border: 1px solid var(--error-700);
  }

  &:disabled {
    background: var(--error-200);
    border: 1px solid var(--error-200);
  }
}

.ctv-button-danger:focus {
  box-shadow: 0 0 0 0.2rem var(--error-200);
}

.ctv-button-icon-only {
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.ctv-button-icon-only:after {
  content: "p";
  visibility: hidden;
  clip: rect(0 0 0 0);
  width: 0;
}

.ctv-button-rounded {
  border-radius: 50%;
}

.ctv-button-block {
  width: 100%;
}
