/* You can add global styles to this file, and also import other style files */
:root {
  --white: #ffffff;

  --text: #344054;

  --gray-100: #f9fafb;
  --gray-200: #eaecf0;
  --gray-300: #d0d5dd;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-900: #101828;

  --primary-100: #f9f5ff;
  --primary-200: #e9d7fe;
  --primary-300: #d6bbfb;
  --primary-400: #b692f6;
  --primary-500: #9e77ed;
  --primary-600: #7f56d9;
  --primary-700: #6941c6;

  --error-100: #fffbfa;
  --error-200: #fecdca;
  --error-300: #fda29b;
  --error-400: #f97066;
  --error-500: #f04438;
  --error-600: #d92d20;
  --error-700: #b42318;
  --error-800: #912018;
  --error-900: #7a271a;

  --success-100: #f6fef9;
  --success-200: #a6f4c5;
  --success-300: #75e0a7;
  --success-400: #32d583;
  --success-500: #12b76a;
  --success-600: #079455;
  --success-700: #067647;
  --success-800: #05603a;
  --success-900: #054f31;

  --font-family: Inter, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

* {
  font-family: var(--font-family);
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1 {
  font-size: 1.875rem;
  color: var(--gray-900);
  line-height: 38px;
  font-weight: 600;
}

hr {
  border-top: 1px solid var(--gray-200);
  margin: 0px;
}

.ctv-component {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: normal;
}

.text-sm {
  font-size: 0.875rem;
  color: var(--gray-600);
  line-height: 20px;
}

.text-lg {
  font-size: 1.125rem;
  color: var(--gray-900);
  line-height: 28px;
}

.text-xl {
  font-size: 1.25rem;
  color: var(--gray-600);
  line-height: 30px;
}

.display-xl {
  font-size: 3.75rem;
  color: var(--gray-900);
  line-height: 72px;
}

.text-regular {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-semi-bold {
  font-weight: 600;
}
