.ctv-datatable {
  position: relative;
}

.ctv-datatable > .ctv-datatable-wrapper {
  overflow: auto;
}

.ctv-datatable-table {
  border-spacing: 0px;
  width: 100%;
}

.ctv-datatable .ctv-datatable-thead > tr > th:first-child {
  padding-left: 1.5rem;
}

.ctv-datatable .ctv-datatable-thead > tr > th {
  text-align: left;
  padding: 1rem 0rem;
  border: 1px solid var(--gray-200);
  border-width: 1px 0 1px 0;
  font-weight: 500;
  color: var(--gray-600);
  background: var(--gray-100);
  transition: none;
}

.ctv-datatable .ctv-datatable-tbody > tr {
  background: var(--white);
  color: var(--gray-600);
  transition: none;
}

.ctv-datatable .ctv-datatable-tbody > tr > td:first-child {
  padding-left: 1.5rem;
}

.ctv-datatable .ctv-datatable-tbody > tr > td {
  text-align: left;
  padding: 1rem 0rem;
  border: 1px solid var(--gray-200);
  border-width: 0 0 1px 0;
  font-weight: 500;
}
